.sidebar {
    display: none;
    background: #67a6e3;
}

.sidebar.open {
    display: block;
    width: 40vh;
    height: 100vh;
    position: absolute;
}

.background {
    background: black;
    opacity: 70%;
}

.nav {
}

.nav a {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.nav a:hover {
    text-decoration: none;
    font-size: 20px;
    color: #030518;
    font-weight: bold;
}

.nav a.active {
    text-decoration: none;
    font-size: 20px;
    color: #2c2caf;
    font-weight: bold;

}

.default {
    text-decoration: none;
    font-size: 20px;
    color: #030518;
    font-weight: bold;
}

.close {
    border: 0px;
}

.close img {
}



